# Connecting to Data from a Python Notebook

## Connect to PostGreSQL Database

In [1]:
import os

from sqlalchemy import create_engine
import pandas as pd

The below `DATABASE_URI` can be passed to both sqlalchemy and ipython-sql, allowing for interaction via SQL & Python/Pandas

In [2]:
USER = 'jupyter'
PASSWORD = os.environ['POSTGRES_PASS']
HOST = 'localhost'
PORT = '5432'
DB = 'expunge'

DATABASE_URI = f"postgresql://{USER}:{PASSWORD}@{HOST}:{PORT}/{DB}"
engine = create_engine(DATABASE_URI)

If you want to use the below cells to query PostGres with SQL, you will need to install the `ipython-sql` and `pgspecial` extensions:
```bash
pip install --user ipython-sql pgspecial
```

In [3]:
%load_ext sql
%sql {DATABASE_URI}

List all tables in `expunge` database

In [4]:
%sql \dt

 * postgresql://jupyter:***@localhost:5432/expunge
8 rows affected.

[('public', 'data_100k_sample', 'table', 'jupyter'),
 ('public', 'data_10k_sample', 'table', 'jupyter'),
 ('public', 'data_1k_sample', 'table', 'jupyter'),
 ('public', 'expunge', 'table', 'jupyter'),
 ('public', 'ids_100k_sample', 'table', 'jupyter'),
 ('public', 'ids_10k_sample', 'table', 'jupyter'),
 ('public', 'ids_1k_sample', 'table', 'jupyter'),
 ('public', 'test_table_jupyter_linshavers', 'table', 'jupyter')]

Column names and types for main `expunge` table

In [5]:
%sql \d expunge

 * postgresql://jupyter:***@localhost:5432/expunge
28 rows affected.

[['person_id', 'text', ''],
 ['HearingDate', 'date', ''],
 ['CodeSection', 'text', ''],
 ['codesection', 'text', ''],
 ['ChargeType', 'text', ''],
 ['chargetype', 'text', ''],
 ['Class', 'text', ''],
 ['DispositionCode', 'text', ''],
 ['disposition', 'text', ''],
 ['Plea', 'text', ''],
 ['Race', 'text', ''],
 ['Sex', 'text', ''],
 ['fips', 'integer', ''],
 ['convictions', 'text', ''],
 ['arrests', 'text', ''],
 ['felony10', 'text', ''],
 ['sevenyear', 'text', ''],
 ['tenyear', 'text', ''],
 ['within7', 'text', ''],
 ['within10', 'text', ''],
 ['class1_2', 'text', ''],
 ['class3_4', 'text', ''],
 ['expungable', 'text', ''],
 ['old_expungable', 'text', ''],
 ['expungable_no_lifetimelimit', 'text', ''],
 ['reason', 'text', ''],
 ['sameday', 'text', ''],
 ['lifetime', 'text', '']]

Peek at the main `expunge` table

In [6]:
%%sql
SELECT *
FROM expunge
LIMIT 3

 * postgresql://jupyter:***@localhost:5432/expunge
3 rows affected.

[('292030000000115', datetime.date(2016, 6, 20), 'A.46.2-862', 'covered elsewhere', 'Misdemeanor', 'Misdemeanor', 'NA', 'Guilty In Absentia', 'Conviction', 'Tried In Absentia', 'White Caucasian(Non-Hispanic)', 'Male', 163, 'TRUE', 'FALSE', 'FALSE', 'FALSE', 'FALSE', 'TRUE', 'TRUE', 'FALSE', 'FALSE', 'Automatic (pending)', 'FALSE', 'Automatic (pending)', 'Conviction of misdemeanor charges listed in 19.2-392.6 B with no convictions since the disposition date. However, because the disposition date is within 7 years of the current date, the record is not yet eligible for expungement', 'FALSE', 'FALSE'),
 ('147170000000107', datetime.date(2012, 5, 23), 'A.46.2-862', 'covered elsewhere', 'Misdemeanor', 'Misdemeanor', '1', 'Guilty', 'Conviction', 'Not Guilty', 'Hispanic', 'Male', 712, 'TRUE', 'FALSE', 'FALSE', 'FALSE', 'FALSE', 'FALSE', 'TRUE', 'FALSE', 'FALSE', 'Automatic', 'FALSE', 'Automatic', 'Conviction of misdemeanor charges listed in 19.2-392.6 B with no convictions within 7 years from disposition date', 'FALSE', 'FALSE'),
 ('147170000000107', datetime.date(2015, 4, 22), 'A.46.2-865', 'covered elsewhere', 'Misdemeanor', 'Misdemeanor', 'NA', 'Dismissed', 'Dismissed', 'Not Guilty', 'Hispanic', 'Male', 712, 'TRUE', 'TRUE', 'FALSE', 'FALSE', 'FALSE', 'TRUE', 'TRUE', 'FALSE', 'FALSE', 'Petition', 'TRUE', 'Petition', 'Dismissal of misdemeanor charges, but with arrests or charges in the past 3 years', 'FALSE', 'FALSE')]

Read data into a pandas dataframe

In [8]:
df = pd.read_sql(f"""
    SELECT "ChargeType"
    FROM expunge
""", engine)

df['ChargeType'].value_counts()

Misdemeanor    6744268
Felony         2309998
Name: ChargeType, dtype: int64