# Expungement Exploration

## Connect to PostGreSQL Database

In [1]:
import os

from sqlalchemy import create_engine
import pandas as pd

In [2]:
USER = 'jupyter'
PASSWORD = os.environ['POSTGRES_PASS']
HOST = 'localhost'
PORT = '5432'
DB = 'expunge'

DATABASE_URI = f"postgresql://{USER}:{PASSWORD}@{HOST}:{PORT}/{DB}"
engine = create_engine(DATABASE_URI)

I'm using SQL Jupyter magic so I can do some initial exploration in pure SQL. Running the below cells requires installing 2 python packages: 
```bash
pip install --user ipython-sql pgspecial
```

In [3]:
%load_ext sql
%sql {DATABASE_URI}

List all tables in `expunge` database

In [4]:
%sql \dt

 * postgresql://jupyter:***@localhost:5432/expunge
8 rows affected.

[('public', 'data_100k_sample', 'table', 'jupyter'),
 ('public', 'data_10k_sample', 'table', 'jupyter'),
 ('public', 'data_1k_sample', 'table', 'jupyter'),
 ('public', 'expunge', 'table', 'jupyter'),
 ('public', 'ids_100k_sample', 'table', 'jupyter'),
 ('public', 'ids_10k_sample', 'table', 'jupyter'),
 ('public', 'ids_1k_sample', 'table', 'jupyter'),
 ('public', 'test_table_jupyter_linshavers', 'table', 'jupyter')]

Column names and types for main `expunge` table

In [5]:
%sql \d expunge

 * postgresql://jupyter:***@localhost:5432/expunge
28 rows affected.

[['person_id', 'text', ''],
 ['HearingDate', 'date', ''],
 ['CodeSection', 'text', ''],
 ['codesection', 'text', ''],
 ['ChargeType', 'text', ''],
 ['chargetype', 'text', ''],
 ['Class', 'text', ''],
 ['DispositionCode', 'text', ''],
 ['disposition', 'text', ''],
 ['Plea', 'text', ''],
 ['Race', 'text', ''],
 ['Sex', 'text', ''],
 ['fips', 'integer', ''],
 ['convictions', 'text', ''],
 ['arrests', 'text', ''],
 ['felony10', 'text', ''],
 ['sevenyear', 'text', ''],
 ['tenyear', 'text', ''],
 ['within7', 'text', ''],
 ['within10', 'text', ''],
 ['class1_2', 'text', ''],
 ['class3_4', 'text', ''],
 ['expungable', 'text', ''],
 ['old_expungable', 'text', ''],
 ['expungable_no_lifetimelimit', 'text', ''],
 ['reason', 'text', ''],
 ['sameday', 'text', ''],
 ['lifetime', 'text', '']]

In [6]:
%%sql
SELECT *
FROM pg_catalog.pg_indexes
WHERE tablename NOT LIKE 'pg%';

 * postgresql://jupyter:***@localhost:5432/expunge
0 rows affected.

[]

In [6]:
%%sql
SELECT *
FROM expunge
LIMIT 3

 * postgresql://jupyter:***@localhost:5432/expunge
3 rows affected.

[('292030000000115', datetime.date(2016, 6, 20), 'A.46.2-862', 'covered elsewhere', 'Misdemeanor', 'Misdemeanor', 'NA', 'Guilty In Absentia', 'Conviction', 'Tried In Absentia', 'White Caucasian(Non-Hispanic)', 'Male', 163, 'TRUE', 'FALSE', 'FALSE', 'FALSE', 'FALSE', 'TRUE', 'TRUE', 'FALSE', 'FALSE', 'Automatic (pending)', 'FALSE', 'Automatic (pending)', 'Conviction of misdemeanor charges listed in 19.2-392.6 B with no convictions since the disposition date. However, because the disposition date is within 7 years of the current date, the record is not yet eligible for expungement', 'FALSE', 'FALSE'),
 ('147170000000107', datetime.date(2012, 5, 23), 'A.46.2-862', 'covered elsewhere', 'Misdemeanor', 'Misdemeanor', '1', 'Guilty', 'Conviction', 'Not Guilty', 'Hispanic', 'Male', 712, 'TRUE', 'FALSE', 'FALSE', 'FALSE', 'FALSE', 'FALSE', 'TRUE', 'FALSE', 'FALSE', 'Automatic', 'FALSE', 'Automatic', 'Conviction of misdemeanor charges listed in 19.2-392.6 B with no convictions within 7 years from disposition date', 'FALSE', 'FALSE'),
 ('147170000000107', datetime.date(2015, 4, 22), 'A.46.2-865', 'covered elsewhere', 'Misdemeanor', 'Misdemeanor', 'NA', 'Dismissed', 'Dismissed', 'Not Guilty', 'Hispanic', 'Male', 712, 'TRUE', 'TRUE', 'FALSE', 'FALSE', 'FALSE', 'TRUE', 'TRUE', 'FALSE', 'FALSE', 'Petition', 'TRUE', 'Petition', 'Dismissal of misdemeanor charges, but with arrests or charges in the past 3 years', 'FALSE', 'FALSE')]

There are ~3M unique persons in `expunge` (perhaps slightly more due to the imperfect anonymization method)

In [7]:
%%sql
SELECT COUNT(DISTINCT person_id)
FROM expunge;

 * postgresql://jupyter:***@localhost:5432/expunge
1 rows affected.

[(3082954,)]

In [8]:
%%sql
SELECT
    "Race",
    COUNT(*)
FROM expunge
GROUP BY "Race"
ORDER BY COUNT(*) DESC
LIMIT 10;

 * postgresql://jupyter:***@localhost:5432/expunge
10 rows affected.

[('White Caucasian(Non-Hispanic)', 3517348),
 ('Black(Non-Hispanic)', 2501329),
 ('White Caucasian (Non-Hispanic)', 1280318),
 ('Black (Non-Hispanic)', 1006077),
 ('Hispanic', 291017),
 ('Other(Includes Not Applicable.. Unknown)', 109833),
 ('White', 101797),
 ('Asian Or Pacific Islander', 88771),
 ('Black', 71787),
 ('MISSING', 31319)]

## Common Code Sections
There are 28,084 distinct Code Sections in `expunge`

In [9]:
%%sql
SELECT COUNT(DISTINCT "CodeSection")
FROM expunge;

 * postgresql://jupyter:***@localhost:5432/expunge
1 rows affected.

[(28084,)]

However, as seen below in the `cumulative_percent` column, it seems that 60%+ of the cases fall under the 22 most common code sections

In [10]:
%%sql
CREATE TEMPORARY TABLE temp_top_codes AS
WITH code_distribution AS (
    SELECT
        "CodeSection",
        COUNT(*),
        ROUND(
            COUNT(*) * 100.0 / SUM(COUNT(*)) OVER(), 
        2) AS percent
    FROM expunge
    GROUP BY "CodeSection"
    ORDER BY percent DESC
)
SELECT
    *,
    SUM(percent) OVER(
        ORDER BY percent DESC 
        ROWS BETWEEN UNBOUNDED PRECEDING AND CURRENT ROW
    ) AS cumulative_percent
FROM code_distribution
WHERE percent > 1.0;

 * postgresql://jupyter:***@localhost:5432/expunge
22 rows affected.

[]

In [11]:
%%sql
SELECT *
FROM temp_top_codes;

 * postgresql://jupyter:***@localhost:5432/expunge
22 rows affected.

[('A.46.2-862', 820869, Decimal('9.07'), Decimal('9.07')),
 ('B.46.2-301', 808278, Decimal('8.93'), Decimal('18.00')),
 ('46.2-300', 557710, Decimal('6.16'), Decimal('24.16')),
 ('C.46.2-862', 360087, Decimal('3.98'), Decimal('28.14')),
 ('18.2-250.1', 319184, Decimal('3.53'), Decimal('31.67')),
 ('A.18.2-266', 268080, Decimal('2.96'), Decimal('34.63')),
 ('18.2-95', 232460, Decimal('2.57'), Decimal('37.20')),
 ('18.2-250', 214542, Decimal('2.37'), Decimal('39.57')),
 ('A.46.2-852', 207907, Decimal('2.30'), Decimal('41.87')),
 ('18.2-57', 206629, Decimal('2.28'), Decimal('44.15')),
 ('18.2-388', 197852, Decimal('2.19'), Decimal('46.34')),
 ('18.2-248', 177358, Decimal('1.96'), Decimal('48.30')),
 ('18.2-96', 166912, Decimal('1.84'), Decimal('50.14')),
 ('18.2-172', 163582, Decimal('1.81'), Decimal('51.95')),
 ('19.2-306', 130872, Decimal('1.45'), Decimal('53.40')),
 ('19.2-128', 123867, Decimal('1.37'), Decimal('54.77')),
 ('A.46.2-707', 112208, Decimal('1.24'), Decimal('56.01')),
 ('A.46.2-853', 111288, Decimal('1.23'), Decimal('57.24')),
 ('18.2-119', 108024, Decimal('1.19'), Decimal('58.43')),
 ('18.2-103', 107282, Decimal('1.18'), Decimal('59.61')),
 ('18.2-137', 93799, Decimal('1.04'), Decimal('60.65')),
 ('18.2-178', 91991, Decimal('1.02'), Decimal('61.67'))]

In [12]:
df = pd.read_sql(f"""
    SELECT 
        "CodeSection",
        "Race"
    FROM expunge
    WHERE "CodeSection" IN ('A.46.2-862')
""", engine)

df.head()

  CodeSection                           Race
0  A.46.2-862  White Caucasian(Non-Hispanic)
1  A.46.2-862                       Hispanic
2  A.46.2-862            Black(Non-Hispanic)
3  A.46.2-862            Black(Non-Hispanic)
4  A.46.2-862            Black(Non-Hispanic)

In [13]:
df['Race'].value_counts()

White Caucasian(Non-Hispanic)                  412730
Black(Non-Hispanic)                            263714
Other(Includes Not Applicable.. Unknown)        41579
Hispanic                                        41557
Asian Or Pacific Islander                       15602
MISSING                                         12228
White Caucasian (Non-Hispanic)                   8428
Unknown (Includes Not Applicable.. Unknown)      7883
Black (Non-Hispanic)                             6093
American Indian                                  3422
White                                            3399
Black                                            2500
Other (Includes Not Applicable.. Unknown)        1034
Unknown                                           552
Asian or Pacific Islander                         109
American Indian or Alaskan Native                  31
American Indian Or Alaskan Native                   8
Name: Race, dtype: int64

In [14]:
def standardize_race_field(race: pd.Series) -> pd.Series:
    return (
        race.str.upper()
            .str.replace('\(.*?\)', '', regex=True)
            .str.strip()
            .replace({
                'WHITE CAUCASIAN': 'WHITE',
                'AMERICAN INDIAN': 'AMERICAN INDIAN OR ALASKAN NATIVE',
                'OTHER': 'UNKNOWN',
                'MISSING': 'UNKNOWN',
            })
    )

In [15]:
df['Race'].pipe(standardize_race_field).value_counts()

WHITE                                424557
BLACK                                272307
UNKNOWN                               63276
HISPANIC                              41557
ASIAN OR PACIFIC ISLANDER             15711
AMERICAN INDIAN OR ALASKAN NATIVE      3461
Name: Race, dtype: int64